<a href="https://colab.research.google.com/github/ebtisamasiri/T5-Data-Science-AI-Practice/blob/main/Data_Cleaning_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Loading the dataset

In [4]:
df=pd.read_csv('/content/Titanic-Dataset.csv')

# Handling Null Values

In [11]:
# Check for null values (1 line)
null_values = df.isnull().sum()
print(null_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
# Fill null values for 'Embarked' with the mode(1 line)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [14]:
# Drop columnss with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
df.dropna(subset=['Cabin'], inplace=True)

# Handling Duplicates

In [15]:
# Check for duplicates (1 line)
df.drop_duplicates(inplace=True)

In [16]:
# Drop duplicates if any (1 line)
duplicate_rows = df.duplicated().sum()
print(f'No of rows: {duplicate_rows}')

No of rows: 0

# Handling Outliers

In [17]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

In [19]:
# Remove outliers from 'Fare' using the remove_outilers function (1 line)
df = remove_outliers(df, 'Fare')
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   186.000000  186.000000  186.000000  168.000000  186.000000
mean    453.053763    0.661290    1.215054   36.389405    0.403226
std     251.814319    0.474548    0.547218   15.852214    0.534021
min       2.000000    0.000000    1.000000    0.920000    0.000000
25%     254.250000    0.000000    1.000000   25.000000    0.000000
50%     457.500000    1.000000    1.000000   36.000000    0.000000
75%     668.250000    1.000000    1.000000   48.000000    1.000000
max     890.000000    1.000000    3.000000   80.000000    2.000000

            Parch        Fare
count  186.000000  186.000000
mean     0.354839   57.791443
std      0.634932   37.807084
min      0.000000    0.000000
25%      0.000000   26.842700
50%      0.000000   52.554200
75%      1.000000   79.650000
max      2.000000  153.462500

# Scaling and Normalization

In [20]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)
scaler = StandardScaler()
df['Fare'] = scaler.fit_transform(df[['Fare']])

In [21]:
# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])

# Encoding Categorical Variables

In [24]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
df = pd.get_dummies(df, columns=['Embarked', 'Sex'])

In [25]:
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name       Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  0.468892      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.430956      1
6                              McCarthy, Mr. Timothy J  0.671219      0
10                     Sandstrom, Miss. Marguerite Rut  0.038948      1
11                            Bonnell, Miss. Elizabeth  0.721801      0
..                                                 ...       ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  0.582701      1
872                           Carlsson, Mr. Frans Olof  0.405665      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  0.696510      0
887                       Graham, Miss. Margaret Edith  0.228629      0
889                              Behr, Mr. Karl Howell  0.317147      0

     Parch    Ticket      Fare        Cabin  Embarked_C  Embarked_Q  \
1        0  PC 17599  0.357824          C85        True       False
3        0    113803 -0.124424         C123       False       False
6        0     17463 -0.157244          E46       False       False
10       1   PP 9549 -1.089805           G6       False       False
11       0    113783 -0.828569         C103       False       False
..     ...       ...       ...          ...         ...         ...
871      1     11751 -0.138899          D35       False       False
872      0       695 -1.400106  B51 B53 B55       False       False
879      1     11767  0.672766          C50        True       False
887      0    112053 -0.737070          B42       False       False
889      0    111369 -0.737070         C148        True       False

     Embarked_S  Sex_female  Sex_male
1         False        True     False
3          True        True     False
6          True       False      True
10         True        True     False
11         True        True     False
..          ...         ...       ...
871        True        True     False
872        True       False      True
879       False        True     False
887        True        True     False
889       False       False      True

[186 rows x 15 columns]